.box {
  box-sizing: content-box;
  height: 500px;
  width: 450px;
  border-color: black;
  margin-top: 5rem;
}
.box1{
  box-sizing: content-box;
  height: 500px;
  width: 450px;
  border-color: black;
  margin-top: 5rem;
}

.box5{
  box-sizing: content-box;
  height: 550px;
  width: 450px;
  border-color: black;

}
.box6{
  box-sizing: content-box;
  height: 550px;
  width: 450px;
  border-color: black;
}
.font{
  font-size: 90px;
  font-weight: bolder;
  padding: 0px;
}
.box7{
  box-sizing: content-box;
  border-color: black;
}
.box8{
  box-sizing: content-box;
  border-color: black;

}
.box9{
  box-sizing: content-box;
  border-color: black;
  
}
.box10{
  box-sizing: content-box;
  border-color: black;

}
